*{
    margin: 0;
    padding: 0;
    background-color: #0c3b2e;
}

.home{
    display: grid;
    display: flex;
    grid-template-columns: 1fr;
    background-color: #0c3b2e;
    height: 900px;
}

.Container{
    flex: 2;
    font-size: 60px;
    padding-top: 100px;
    padding-left: 140px;
}

.text{
    flex: 1;
    padding-right: 140px;
    padding-top: 140px;
    font-size: 35px;
    
    
}
.photo{
    text-align: center;
}
img{
    margin-top: -400px;
    width: 1600px;
}