* {
  margin: 0;
  padding: 0;
}
/* Universal CSS codes */

body {
  background-color: #121212;
  color: aliceblue;
}

#navBarinfo {
  font-family: "Lora", serif;
  font-size: 32px;
  color: aliceblue;
  margin: 100px 110px 0 200px;
}
.cross {
  text-align: right;
  margin: -55px 200px 0 100px;
  font-size: 40px;
  color: aliceblue;
}
.cross a {
  margin-left: 50px;
  text-decoration: none;
  color: aliceblue;
}

/* Start of Footer section */
.bodyfooter {
  background-color: #1f1f1f;
  color: aliceblue;
  height: 275px;
}

.footer {
  display: flex;
}

.left {
  font-family: "Montserrat", sans-serif;
  flex: 1;
  margin: 40px 55px 0 200px;
}
.left img {
  /* margin: 40px 55px 0 200px; */
  height: 100px;
}

.left p {
  margin-top: 20px;
  font-size: 18px;
}
.centre {
  font-family: "Montserrat", sans-serif;
  flex: 1;
  margin: 40px 55px 0 200px;
}
.centre a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}
.right {
  font-family: "Montserrat", sans-serif;
  flex: 1;
  margin: 40px 55px 0 200px;
}

.right a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}

#footerSign {
  text-align: center;
}

/* Start of Home Section */
#baDesignsLogo {
  display: grid;
  place-items: center;
  margin: 80px auto;
  width: 45%;
}

.navigationBar {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-top: 30px;
  text-align: center;
}

.navigationBar a {
  margin: 80px 60px;
  color: aliceblue;
  font-size: 24px;
  text-decoration: none;
}
a:hover {
  color: gray;
}

/* Start of About me Section */
#aboutme {
  padding-top: 5px;
}

.aboutMe1 {
  display: flex;
  color: aliceblue;
}

.introduction1 {
  color: aliceblue;
  flex: 6;
  margin: 40px 55px 0 200px;
  text-align: justify;
}
.introduction1 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  padding-bottom: 20px;
  font-weight: 600;
}
.introduction1 p {
  font-family: "Lora", serif;
  font-size: 28px;
  padding-bottom: 20px;
  margin-left: 10px;
}

.portraitPhoto {
  flex: 3;
  margin: -15px 250px 0 55px;
  text-align: right;
}

#portraitPhoto {
  width: 100%;
}

.aboutMe2 {
  display: flex;
  margin-top: 120px;
}
.illustrationPhoto {
  flex: 3;
  margin: 0px 55px 0 200px;
  text-align: left;
}
#illustrationPhoto {
  width: 90%;
}
.introduction2 {
  margin: -10px 55px 0 200px;
  flex: 6;
}
.introduction2 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 600;
  padding-bottom: 20px;
}

.introduction2 p {
  font-family: "Lora", serif;
  font-size: 28px;
  padding: 0 0px 4px 0px;
  padding-left: 10px;
}

.introduction2 a {
  text-decoration: none;
}

.introduction2 button {
  font-family: "Montserrat", sans-serif;
  background-color: #e94c3d;
  font-size: 28px;
  border-radius: 40px;
  width: 45%;
  height: 50px;
  text-align: center;
  margin-right: 35px;
}

.introduction2 button:hover {
  background-color: #e73323;
}

.aboutMe3 {
  display: flex;
  margin-top: 120px;
}

.interestTitle {
  margin: -60px 55px 20px 200px;
  flex: 6;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 600;
}

.interest {
  margin: 130px 300px 0 55px;
}
.interest p {
  flex: 3;
  text-align: end;
  font-family: "Lora", serif;
  font-size: 36px;
  padding-bottom: 25px;
}

.introduction3 a {
  text-decoration: none;
}

.aboutMe4 {
  margin: 40px;
  text-align: center;
}
.clients {
  text-align: center;
  font-size: 80px;
}
.logo {
  display: flex;
}
.logo img {
  height: 200px;
  margin: 100px;
}
.logo1 .logo2 .logo3 {
  flex: 1;
}

/* Start of Projects sections */

.projects {
  max-height: 100vh;
  font-size: 100px;
  margin: 70px 55px 0 200px;
}
.projects a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
}
.projects a:hover {
  color: gray;
}

.outerillustrations {
  max-height: 1400px;
  overflow: hidden;
}
.illustrations {
  margin: 80px 800px 0 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
}
.illustrations img {
  width: 490px;
}

/* Start of the Contatct section */
.containerContact {
  max-height: 100vh;
}
.contactInfo {
  font-size: 50px;
  margin: 70px 55px 0 200px;
  font-family: "Montserrat", sans-serif;
}
.contactInfo h1 {
  margin: 0 0 70px 0;
}
.contactInfo h3 {
  margin: 45px 0;
}

.contactInfo i {
  font-size: 80px;
  margin: 0px 70px 0 0;
  color: aliceblue;
}

.contactInfo i:hover {
  font-size: 80px;
  margin: 0px 70px 0 0;
  color: gray;
}

.contactInfo h3:hover {
  color: gray;
}

.contactInfo a {
  text-decoration: none;
}
