* {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: aliceblue;
}

#baDesignsLogo {
  display: block;
  margin: 80px auto;
  width: 45%;
}
.navigationBar {
  margin: auto;
  padding-top: 20px;
  text-align: center;
}
.navigationBar a {
  margin: 60px;
  color: aliceblue;
  font-size: 24px;
  text-decoration: none;
}
a:hover {
  color: gray;
}

#navBarinfo {
  color: aliceblue;
  margin: 100px 110px 0 200px;
}
.aboutme {
  display: flex;
  color: aliceblue;
}
.introduction {
  color: aliceblue;
  flex: 6;
  margin: 90px 55px 0 200px;
  text-align: justify;
}
.introduction h3 {
  font-size: 80px;
  padding-bottom: 20px;
}
.introduction p {
  font-size: 28px;
  padding-bottom: 20px;
}
.introduction button {
  background-color: #e94c3d;
  font-size: 30px;
  border-radius: 40px;
  width: 50%;
  height: 50px;
  text-align: center;
}

.portraitPhoto {
  flex: 3;
  margin: 0 250px 0 55px;
  text-align: right;
}
#portraitPhoto {
  width: 120%;
}

.projects {
  font-size: 120px;
  margin: 80px 55px 0 200px;
}
.projects a {
  text-decoration: none;
  font-weight: 900;
}
.outerillustrations {
  max-height: 1400px;
  overflow: hidden;
}
.illustrations {
  margin: 80px 800px 0 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
}
.illustrations img {
  width: 490px;
}
