* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #121212;
  color: aliceblue;
}

#baDesignsLogo {
  display: block;
  margin: 80px auto;
  width: 45%;
}
.navigationBar {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
}
.navigationBar a {
  margin: 60px;
  color: aliceblue;
  font-size: 24px;
  text-decoration: none;
}
a:hover {
  color: gray;
}
#aboutme {
  padding-top: 5px;
}
#navBarinfo {
  font-family: "Karla", sans-serif;
  color: aliceblue;
  margin: 100px 110px 0 200px;
}
.aboutme {
  display: flex;
  color: aliceblue;
}
.introduction {
  color: aliceblue;
  flex: 6;
  margin: 60px 55px 0 200px;
  text-align: justify;
}
.introduction h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  padding-bottom: 20px;
}
.introduction p {
  font-family: "Karla", sans-serif;
  font-size: 28px;
  padding-bottom: 20px;
}
.introduction button {
  font-family: "Karla", sans-serif;
  background-color: #e94c3d;
  font-size: 30px;
  border-radius: 40px;
  width: 50%;
  height: 50px;
  text-align: center;
}

.portraitPhoto {
  flex: 3;
  margin: 0 250px 0 55px;
  text-align: right;
}

#portraitPhoto {
  width: 120%;
}

.footer {
  background-color: #eeeeee;
  color: #121212;
  height: 300px;
  display: flex;
}

.left {
  flex: 1;
}
.footer img {
  margin: 60px 55px 0 200px;
  height: 100px;
}
.centre {
  flex: 1;
}
.right {
  flex: 1;
}

/* Start of Projects sections */

.projects {
  max-height: 100vh;
  font-size: 100px;
  margin: 70px 55px 0 200px;
}
.projects a {
  font-family: "Karla", sans-serif;
  text-decoration: none;
  color: aliceblue;
  font-weight: 900;
}
.projects a:hover {
  color: gray;
}

.outerillustrations {
  max-height: 1400px;
  overflow: hidden;
}
.illustrations {
  margin: 80px 800px 0 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
}
.illustrations img {
  width: 490px;
}
